<section class="section__main section_img">
    <div class="row pr-5 pl-5">
        <div class="col-lg-6 mt-3 movil-center">
            <sub class="section__subtitle">CON TDB OBTENDRÁ MUCHOS BENEFICIOS</sub>
            <h1 class="section__title mt-4 mb-4 text-break">La forma más fácil y confiable de administrar sus
                equipos de desarrollo</h1>
            <p class="section__paragrahp pt-2">
                <strong>Planea.</strong> <strong> Organiza.</strong> <strong> Monitorea.</strong> Todo en un espacio
                visual
                colaborativo. Una forma simple y comprobada de
                aumentar el rendimiento de su equipo.
            </p>
            <p class="section__paragrahp pt-2 mb-9">Organice su equipo remoto con TDB. Agilice, simplifique.</p>
            <div class="row mt-5 mb-5">
                <div class="col-lg-12 section__center">
                    <button class="btn btn-lg btn__solid"><span class="btn__text">Comenzar Ahora</span></button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <img src="../../../assets/svg/Characters.svg" class="img-fluid" alt="TheDevBlock">
        </div>
    </div>
</section>