<footer>
    <div class="row footer__shape fixed-bottom">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-left">
            <span class="full-text ml-4 footer__termconditions">Terms and Conditions</span>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="footer-copyright text-center py-3 footer__copyrights">
                &copy; 2019 The Dev Block All rights reserved
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar footer__navbar ml-auto">
                    <li class="nav-item">
                        <a class="nav-link footer__nav-link" href="#"><img src="../../../assets/img/facebook.svg" alt="facebook"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__nav-link" href="#"><img src="../../../assets/img/linkedin.svg" alt="facebook"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link footer__nav-link" href="#"><img src="../../../assets/img/twitter.svg" alt="facebook"></a>
                    </li>                    
                </ul>
            </nav>            
        </div>
    </div>
</footer>