<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-color__home">
    <a class="navbar-brand ml-2" href="#"><img src="../../../assets/svg/Logo.svg" width="150" height="50" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav navbar-text-options__home">
            <a class="nav-item nav-link ml-4 mr-4" href="#">Nosotros</a>
            <a class="nav-item nav-link ml-4 mr-4" href="#">Como Empezar</a>
            <a class="nav-item nav-link ml-4 mr-4" href="#">Contactenos</a>
            <a class="nav-item nav-link ml-4 mr-4 login__text movil" href="#">Iniciar Sesion</a>
            <a class="nav-item nav-link ml-4 mr-4 login__text movil" href="#">
                <div class="dropdown mr-1">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                        Idioma
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Español</a>
                    </div>
                </div>
            </a>
            <a class="nav-item nav-link ml-4 mr-4 movil">
                <div>
                    <button class="btn__outline my-2 my-sm-0" type="submit">Registrarse</button>
                </div>
            </a>
        </div>        
    </div>
    <div class="form-inline desktop my-2 my-lg-0">
        <div class="navbar-nav navbar-text-options__home">
            <div class="dropdown mr-1">
                <button type="button" class="btn dropdown-toggle" id="dropdownMenuOffset"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-offset="10,20">
                    Idioma
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuOffset">
                    <a class="dropdown-item" href="#">English</a>
                    <a class="dropdown-item" href="#">Español</a>
                </div>
            </div>
            <a class="nav-item nav-link ml-4 mr-4 login__text" href="#">Iniciar Sesion</a>
        </div>
        <button class="btn__outline my-2 my-sm-0" type="submit">Registrarse</button>
    </div>
</nav>